header{
  background: rgba(255, 144, 14, 0.10);
  
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding-right: 50px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #424242;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  /* 144.444% */
}

.nav-title {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
}

/* responsive style for mobile device */

@media screen and (max-width: 576px) {
  nav{
    flex-direction: column;
  }
}

/* responsive style for tab or mid device */

@media screen and (min-width: 576px) and (max-width: 920px) {
  nav{
    flex-direction: column;
  }
}